<div class="container-fluid" id="header">
<div class="row">
  <hr>
<nav class="navbar navbar-default">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <%= link_to image_tag("luka.jpg", alt: "My grandson Luka"), root_path, 
      class: "navbar-brand", style: "padding: 0px;" %>
    <%= link_to "Cornerstone", root_path, class: "navbar-brand" %>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
      data-target="#collapse-1" aria-expanded="false" style="margin-right: 0px;">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Contact", contact_path, class: "btn btn-default btn-lg" %></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-default btn-lg" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Go to<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Sitemap", sitemap_path %></li>
            <li><%= link_to "Staff", staff_path %></li>
            <li><%= link_to "Links", links_path %></li>
          </ul>
      </li> <!-- dropdown  -->
    </ul>
  </div> <!-- navbar-collapse -->

</nav> <!-- navbar navbar-default -->

</div> <!-- row -->


<div class="row">
  <hr>
  <nav class="navbar navbar-default">
      <%= link_to "Pg01", no01_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg02", no02_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg03", no03_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg04", no04_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg05", no05_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg06", no06_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg07", no07_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg08", no08_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg09", no09_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg10", no10_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg11", no11_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg12", no12_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg13", no13_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg14", no14_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg15", no15_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg16", no16_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg17", no17_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg18", no18_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg19", no19_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg20", no20_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg21", no21_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg22", no22_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg23", no23_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg24", no24_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg25", no25_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg26", no26_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg27", no27_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg28", no28_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg29", no29_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg30", no30_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg31", no31_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg32", no32_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg33", no33_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg34", no34_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg35", no35_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg36", no36_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg37", no37_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg38", no38_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg39", no39_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg40", no40_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg41", no41_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg42", no42_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg43", no43_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg44", no44_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg45", no45_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg46", no46_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg47", no47_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg48", no48_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg49", no49_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg50", no50_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg51", no51_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg52", no52_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg53", no53_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg54", no54_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg55", no55_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg56", no56_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg57", no57_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg58", no58_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg59", no59_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg60", no60_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg61", no61_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg62", no62_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg63", no63_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg64", no64_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg65", no65_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg66", no66_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg67", no67_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg68", no68_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg69", no69_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg70", no70_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg71", no71_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg72", no72_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg73", no73_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg74", no74_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg75", no75_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg76", no76_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg77", no77_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg78", no78_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg79", no79_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg80", no80_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg81", no81_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg82", no82_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg83", no83_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg84", no84_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg85", no85_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg86", no86_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg87", no87_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg88", no88_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg89", no89_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg90", no90_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg91", no91_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg92", no92_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg93", no93_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg94", no94_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg95", no95_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg96", no96_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg97", no97_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg98", no98_path, class: "btn btn-default btn-xs" %>
      <%= link_to "Pg99", no99_path, class: "btn btn-default btn-xs" %>
  </nav>
  <hr>
</div> <!-- row -->

</div> <!-- container-fluid header -->
